<p>
  button works!
</p>

<!--first button line - photo -->
<div>
  <button
      class="btn btn-primary btn-space"
      (click)="buttonCliced1()">
        Use all photo 
  </button>
  <button
      class="btn btn-primary btn-space"
      (click)="buttonCliced2()">
        Use most photo
  </button>
  <button
      class="btn btn-primary btn-space"
      (click)="buttonCliced3()">
        Use best photo
  </button>
  <button
      class="btn btn-primary btn-space"
      (click)="buttonCliced4()">
        I trust you
  </button>
</div>
<hr>

<!--seconde buttona line - background -->
<div>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced1()">
          Use simple background
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced2()">
          Use my view background
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced3()">
          Use other view background
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced4()">
          I trust you
    </button>
</div>
<hr>

<!--three button line - design elements -->
<div>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced1()">
          Use no design elements
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced2()">
          Use few design elements
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced3()">
          Feel free to use design elements
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced4()">
          I trust you
    </button>
</div>
<hr>

<!--four button line - additional text -->
<div>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced1()">
          Use no additional text
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced2()">
          Use few additional text
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced3()">
          Feel free to use additional text
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced5()">
          I trust you
    </button>
</div>
<hr>

<!--five button line - preferred color -->
<div>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced1()">
          My preferred color is
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced2()">
          My preferred color is
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced3()">
          My preferred color is
    </button>
    <button
        class="btn btn-primary btn-space"
        (click)="buttonCliced4()">
          I trust you
    </button>
</div>
<hr>











